
.photographer{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
   margin: auto;
    background-size:cover;
    width: 100vw;
    height: 100vh;
   
}
.text_1{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 70px;
   scale: 1.4;
  font-weight:600;
}
.text_2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    font-size:40px ;
}
.im{
   font-weight: 600;
}
.photo{
    font-weight: 800;
}
.profession{
    display: flex;
   flex-direction: row;
   justify-content: center;
  
   gap: 5px;
   margin-top: 10px;
}
.dot{
    position: relative;
    scale: 1.8;
    top: -5px;
}
.reach{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap:35px ;
}
.img_1{
    margin-top: 10px;
    height: 20px;
    width: 20px;
    
}
.camera{
    display: flex;
    align-items: center;
    justify-content: center;

}
.camera img{
    height: 100px;
    width: 100px;
    margin-top: 50px;
}